<div class="jumbotron">
    <h1>Playoff</h1>
   
   
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Playoff je aplikacija namijenjena sportistima i rekreativcima. Prilikom organizovanja prijateljskih susreta postoji mnogo problema koje nemaju sistematično rješenje. Često timovi igraju protiv istih timova i ne mogu naći nove adekvatne protivnike.
        Nekim timovima fali igrača dok također postoje igrači koji ne mogu naći tim.Ovom aplikacijom omogućavamo korisniku da nađe/formira tim i suigrače na njegovom nivou vještine, organizuje utakmice sa adekvatnim protivnicima te da ima pregled nad ostvarenim rezultatima u prošlim mečevima.</p>
        
    </div>
   

</div>
